[Unit]
Description=About service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/bign8
ExecStartPre=/bin/bash -c '[ -f "/opt/bign8/about.gz" ] && gzip -df /opt/bign8/about.gz || exit 0'
ExecStart=/opt/bign8/about
Environment="PORT=9999"

[Install]
WantedBy=multi-user.target
