.nav .glyphicon {
	margin-right: 1em;
}


/* for projects page */
a.thumbnail {
	text-decoration: none;
}

.thumbnail .caption :last-child {
	margin-bottom: 0;
}


/* For Blog post's first characters */
.post::before{
	color: #f8f8f8;
	font-size: 175px;
	font-weight: bold;
	margin-left: -50px;
	margin-top: 20px;
	position: absolute;
	z-index: -1;
	line-height: 0;
}

/* For background animator close button */
a.kill-animation {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	background: rgba(50, 50, 50, 0.14);
	text-align: center;
	color: #fff;
	border-radius: 100%;
}
