---
layout: default
title: Blog
---
<h1>Nate's Musings</h1>

<p class="lead">Welcome to my blog! Below you will find a collection of thoughts, concepts, projects and ideas that I have posted over the years.</p>

<hr/>
<section class="posts">
	{% for post in site.posts %}<article>
		<div class="pull-right">{% for tag in post.tags %}<span class="label label-default">{{tag}}</span> {% endfor %}</div>
		<h2>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{% if post.draft %}<small>DRAFT</small>{% endif %}
		</h2>
		{{ post.excerpt }}
		Published: <time class="text-muted" itemprop="datePublished" content="{{ post.date }}">{{ post.date | date: "%Y-%m-%d" }}</time>
		<a class="pull-right" href="{{ post.url }}">continue reading »</a>
	</article>
	<hr/>{% endfor %}
</section>
