<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.name }}{% if page.title.size %} &mdash; {{ page.title }}{% endif %}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/style.css">
		{% if page.css.size %}<link rel='stylesheet' type='text/css' href='{{ page.css }}.css' />{% endif %}
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="preload" href="/site.json" as="fetch" crossorigin>
	</head>
	<body>
		<header>
			<a class="profile" href="/">
				<h1>Nate Woods</h1>
				<figure>
					<img src="/n8.jpg" alt="Nate Woods" title="Nate Woods">
				</figure>
			</a>
			{% include contacts.html indent="			" %}
			<nav>
				<ul>
					<li{% if page.url == "/" %} class="active"{% endif %}><a href="/">About</a></li>
					<li{% if page.url contains "/blog/" %} class="active"{% endif %}><a href="/blog/">Blog</a></li>
				</ul>
			</nav>
			<n8-calendar source="/site.json"></n8-calendar>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<p>&copy; <n8-year></n8-year> <a href="/#contact">{{site.name}}</a></p>
		</footer>
		<canvas is="n8-animation"></canvas>
		<a is="n8-cleanup" href="#stop-animation" title="Stop background animation">×</a>
		{% if page.js.size %}<script src="{{ page.js }}.js"></script>{% endif -%}
		<script src="/script.js"></script>
	</body>
</html>
